* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: #414141; /* Dark gray */
    background-color: #EEEEEE; /* Light gray */
    font-size: 18px;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 0.5em;
}

h2, h3, h4, h5, h6 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: #3176de;
}

h2 {
    font-size: 1.6em;
    padding-bottom: 0.625em;
}

header {
    margin-top: 1em;
    padding-bottom: 1.6em;
    border-bottom: 1px solid #A3B2D4;
    margin-bottom: 1em;
}

img {
    border-radius: 5%;
    margin-bottom: 1em;
}

.email-header {
    padding-bottom: 0;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    margin-top: 1em; /* Push footer to bottom of the page */
    margin-bottom: 1em;
}

.container {
    width: 1000px;
    margin: 0 auto; /* center page horizontally */
}

.button {
    border-radius: 5px;
}

a {
    text-decoration: none; /* Hide underlines from links */
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: #75CCE6;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}

a:visited:hover {
    color: orange;
    text-decoration: underline;
}

a:visited:active {
    color: red;
    text-decoration: underline;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 2em 1em 1.6em 1em; /*top right bottom left*/
    border: 1px solid #A3B2D4;
    border-radius: 0.6em;
    margin-top: 2em;
    margin-bottom: 1em;
}

form div + div { /* Apply spacing between labels and inputs for all of them after the 1st one*/
    margin-top: 1.6em;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.project-text, .about-me-text, .blog-text {
    margin-top: 1em;
}
